# Exam1

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
# Check
#lesser_of_two_evens(2,4)

# given two numbers
num1=2
num2=4

# if statement for  2 numbers is even 
if num1%2==0 and num2%2==0:
    number= min(num1,num2)

# if statement for one number is even     
elif num1%2==0 or num2%2==0: 
    number= max(num1,num2) 

else:
     number= max(num1,num2) 
        
# function that returns the lesser of two given numbers if both numbers are even
# but returns the greater if one or both numbers are odd
def lesser_of_two_evens(number):
    return number

lesser_of_two_evens(number)

2

In [2]:
# Check
#lesser_of_two_evens(2,5)

# given two numbers
num1=2
num2=5

# if statement for  2 numbers is even 
if num1%2==0 and num2%2==0:
    number= min(num1,num2)

# if statement for one number is even     
elif num1%2==0 or num2%2==0: 
    number= max(num1,num2) 

else:
     number= max(num1,num2) 
        
# function that returns the lesser of two given numbers if both numbers are even
# but returns the greater if one or both numbers are odd
def lesser_of_two_evens(number):
    return number

lesser_of_two_evens(number)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [6]:
# Check
# animal_crackers('Levelheaded Llama')

# function takes a two-word string and returns True if both words begin with same letter
def animal_crackers():
    
    x,y=input('Enter Two words: ').split()
    
    # if statement for checking if both words begin with same letter return true and in differnce return false
    if x[0] == y[0]:
        
        return 'true'
    
    else:
        
        return 'false'

#call the function
animal_crackers()

Enter Two words: Levelheaded Llama

'true'

In [7]:
# Check
# animal_crackers('Crazy Kangaroo')

# function takes a two-word string and returns True if both words begin with same letter
def animal_crackers():
    
    x,y=input('Enter Two words: ').split()
    
    # if statement for checking if both words begin with same letter return true and in differnce return false
    if x[0] == y[0]:
        
        return 'true'
    
    else:
        
        return 'false'

#call the function
animal_crackers()

Enter Two words: Crazy Kangaroo

'false'

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [11]:
# function return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False
def makes_twenty(n1,n2):
    
    # if statement for the sum of the integers is 20 or if one of the integers is 20. If not, return False
    if n1+n2 == 20:
        
        return 'true'
    
    elif n1==20 or n2 ==20:
        
        return 'true'
    
    else:
        
        return 'false'

In [12]:
# Check
makes_twenty(20,10)

'true'

In [13]:
# Check
makes_twenty(12,8)

'true'

In [14]:
# Check
makes_twenty(2,3)

'false'

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [47]:
#  function that capitalizes the first and fourth letters of a name
def old_macdonald(name):
    x=range(len(name))
    # for loop for check all words in name
    for i in x :
        
        # if statement for capitalizes the first letters of a name
        if i == 0:
            word = word + x[0].capitalize()
        
         # if statement for capitalizes the fourth letters of a name 
        elif i == 3:
             word = word + x[0].capitalize()
                
        else:
            word = word + x[i]
            
    return word

In [48]:
# Check
old_macdonald('macdonald')

UnboundLocalError: local variable 'word' referenced before assignment

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [36]:
# function an integer n, return True if n is within 10 of either 100 or 200
def almost_there(n):
    
    # if statement for return True if n is within 10 of either 100 or 200
    # if n is within 10 of either 100
    if n in range(90,101):
        return 'true'
    
    elif n in range(100,111):
        return 'true'
    
    # if n is within 10 of either 200
    elif n in range(190,201) :
        return 'true'
    
    elif n in range(200,211):
        return 'true'
    
    else:
        return 'false'

In [37]:
# Check
almost_there(90)

'true'

In [38]:
# Check
almost_there(104)

'true'

In [39]:
# Check
almost_there(150)

'false'

In [40]:
# Check
almost_there(209)

'true'

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [41]:
# function return True if the array contains a 3 next to a 3 somewhere
def has_33(nums):
    
    # if statement for if the array contains a 3 next to a 3 somewhere return true and others return false
    if len(nums)==3:
        return 'true'
    
    else:
        return 'false'

In [42]:
# Check
has_33([1, 3, 3])

'true'

In [43]:
# Check
has_33([1, 3, 1, 3])

'false'

In [44]:
# Check
has_33([3, 1, 3])

'true'

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [ ]:
# function return a string where for every character in the original there are three characters
def paper_doll(text):
    
    for i in text[]:
        
        i = i

In [ ]:
# Check
paper_doll('Hello')

In [ ]:
# Check
paper_doll('Mississippi')

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [ ]:
# function three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. 
#If their sum exceeds 21 and there's an eleven, 
#reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

def blackjack(a,b,c):
    # integer numbers between 1 , 11
    if a in range(1,12) and b in range(1,12) and c in range(1,12):
        
        #  if their sum is less than or equal to 21, return their sum
        if a+b+C <= 21:
            return a+b+c
        
        # If their sum exceeds 21 and there's an eleven , reduce the total sum by 10
        elif a+b+c

In [ ]:
# Check
blackjack(5,6,7)

In [ ]:
# Check
blackjack(9,9,9)

In [ ]:
# Check
blackjack(9,9,11)

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [55]:
# Return the sum of the numbers in the array, 
#except ignore sections of numbers starting with a 6 
#and extending to the next 9 (every 6 will be followed by at least one 9). 
#Return 0 for no numbers
def summer_69(arr):
    sum=0
    # for llop checking all num in arr
    for i in arr:
        
        if 6 in arr or 9 in arr:
            for n in arr:
                sum=sum+n
                break
            sum=sum-6-9
            return sum
        else:
            for n in arr:
                sum=sum+n
                break
            return sum

In [56]:
# Check
summer_69([1, 3, 5])

1

In [57]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

-11

In [58]:
# Check
summer_69([2, 1, 6, 9, 11])

-13

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [71]:
def spy_game(nums):
    x=[0,0,7]
    
    for i in nums:
        for n in x:
            if n in nums:
                return 'true'
            else:
                return 'false'

In [72]:
# Check
spy_game([1,2,4,0,0,7,5])

'true'

In [67]:
# Check
spy_game([1,0,2,4,0,5,7])

'true'

In [68]:
# Check
spy_game([1,7,2,0,4,5,0])

'true'

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

## Great Job!